<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://kit.fontawesome.com/312f91e59e.js" crossorigin="anonymous"></script>
    <title>Alliteration Landing</title>
</head>



<body class=" m-36 bg-slate-100" >
    <nav class="flex " >
        <ul class="flex space-x-1 p-1 px-2 my-2 bg-white w-auto flex justify-center items-center rounded-lg shadow-md " >
            <li ><a class="hover:text-purple-800" href="/templates/index.html">Home</a></li>
            <li>/</li>
            <li><a class="text-purple-700  hover:text-purple-800" href="/templates/allitelanding.html">Alliteration</a></li>


        </ul>



    </nav>


    <div class=" flex w-auto flex-col p-4 py-4 items-center justify-center bg-white rounded-lg  shadow-md " >
        <a class="shadow-md p-1 px-2 hover:bg-purple-100" href="/templates/alliteration.html">The great light...</a>
        <a class="shadow-md p-1 px-2 hover:bg-purple-100" href="/templates/alliteration.html">This is the other one</a>



    </div>
</body>
</html>
