<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://kit.fontawesome.com/312f91e59e.js" crossorigin="anonymous"></script>
    <title>Alliteration</title>
</head>



<body class=" m-36 bg-slate-100" >
    <nav class="flex space-x-2" >
        <ul class="p-1 px-2 my-2 bg-white w-auto flex justify-center items-center rounded-lg shadow-md hover:bg-purple-100" >
            <li><a href="/templates/index.html">Home</a></li>
        </ul>


        <ul class="p-1 my-2 px-2 bg-white w-auto flex justify-center items-center rounded-lg shadow-md hover:bg-purple-100" >
            <li><a href="/templates/alliteration.html">Alliteration</a></li>
        </ul>
    </nav>


    <div class=" flex w-auto flex-col p-4 items-center justify-center bg-white rounded-lg  shadow-md " >
        <p>The first of the great ones are here</p>
        <div class=" text-center" >
            Sitting blindly in a dark corner, <br> You are all I could think of, <br> Thoughts of you brought me peace, <br> Thoughts of you calmed my heart. <br> You are the light I saw in the darkness, <br> and now you are the light i behold everyday.  <br>You are the thread I hang on by, <br> Your smile, its so beautiful it draws me in. <br> Everyday I dream of making memories with you,<br> Memories as happy as they can be, <br> its a prayer that I have,<br> and I know it will be
        </div>



    </div>
</body>
</html>
