<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://kit.fontawesome.com/312f91e59e.js" crossorigin="anonymous"></script>
  <title>Base File</title>
</head>
<body class="m-10 flex justify-center bg-slate-100">
  <div class="flex justify-center space-x-4 " >
    <img src="/static/logo.png" alt="logo">
    <h1 class=" font-medium text-xl text-purple-700 ">Poetry Store</h1>
  </div> <hr>
  <p>Welcome to the world of poetry. Find all the poems that you like under the different categories that have been provided.</p>


  <i class="fa-solid fa-angle-right"></i>
</body>
</html>


