<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <title>Base File</title>
</head>
<body class="m-10">
  <div class="flex justify-center " >
    <img src="/static/logo.png" alt="logo">
    <h1 class=" text-yellow ">Poetry Store</h1>
  </div> <hr>
  <p>Welcome to the world of poetry. Find all the poems that you like under the different categories that have been provided.</p>


</body>
</html>


