<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://kit.fontawesome.com/312f91e59e.js" crossorigin="anonymous"></script>
  <title>Poetry Store</title>
</head>
<body class="m-36 flex flex-col items-center  bg-slate-100">

  <div class="flex justify-center items-center space-x-4 " >
    <img class="w-20 " src="/static/logo.png" alt="logo">
    <h1 class=" font-medium text-4xl text-black ">Poetry Store</h1>
  </div>

  <p>Welcome to the world of poetry. Find all the poems that you like under the different categories that have been provided.</p>

  <div class=" w-56 space-y-3" >
    <!-- start 1 -->
    <a  href="/templates/allitelanding.html" class=" rounded-lg bg-white flex flex-row items-center mt-1 space-x-4  p-4 hover:cursor-pointer hover:bg-white hover:shadow-md " >
      <i class="fa-solid fa-sharp fa-feather-pointed items-center flex justify-center"></i>
      <div>Alliteration</div>
    </a>

    <!-- start 2 -->
    <div  class="flex rounded-lg bg-white flex-row items-center mt-1 space-x-4  p-4 hover:cursor-pointer hover:bg-white hover:shadow-md " >
      <i class="fa-solid fa-droplet items-center flex justify-center"></i>
      <div>Admiration</div>
    </div>

    <!-- start 3 -->
    <div class="flex rounded-lg bg-white flex-row items-center mt-1 space-x-4  p-4 hover:cursor-pointer hover:bg-white hover:shadow-md " >
      <i class="fa-solid fa-leaf items-center flex justify-center"></i>
      <div>Nature</div>
    </div>

    <!-- start 4 -->
    <div class=" flex rounded-lg bg-white flex-row items-center mt-1 space-x-4  p-4 hover:cursor-pointer hover:bg-white hover:shadow-md " >
      <i class="fa-solid fa-sharp fa-snowflake items-center flex justify-center"></i>
      <div>Her</div>
    </div>
  </div>

</body>
</html>


